<section class="chefs_part blog_item_section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Team Member</p>
                    <h2>Our Experience Chefs</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <app-adam-billiard></app-adam-billiard>   
            </div>
            <div class="col-sm-6 col-lg-4">
                <app-fred-macyard></app-fred-macyard>
            </div>
            <div class="col-sm-6 col-lg-4">
                <app-justin-stuard></app-justin-stuard>
            </div>
            
        </div>
    </div>
</section>